version: '3'
services:
  sample-meteor-todo:
    build: .
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app/
    environment:
      ROOT_URL: http://172.17.0.1:3000
      PORT: 3000
      MONGO_HOST: mongo
    links:
      - mongo
    ports:
      - 3000:3000
    command: meteor
  mongo:
    image: mongo:3.6
    ports:
      - 27017:27017
    volumes:
      - ./docker/data:/data/db
